$color_green: #4CBF34;
$global_bg: #E5E5E5;

*{
  padding: 0;
  margin: 0;
}

/* Navigation */
header{
  width: 100%;
  height: 78px;
  background: linear-gradient(90.15deg, #4CBF34 23.5%, #73C4EE 73.62%);

  container{
    max-width: 1196px;
    margin: auto;
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo{
    width: 197px;
    height: 24px;
    position: absolute;
    top: 27px;
    left: 122px;
    bottom: 27px;
    color: white;
  }

  .p1{
    width: 126px;
    height: 24px;
    position: absolute;
    right: 481px;
    color: white;
  }
  .p2{
    width: 45px;
    position: absolute;
    right: 341px;
    color: white;
  }
  .p3{
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: medium;
    border-spacing: inherit;
    height: 40px;
    width: 100px;
    position: absolute;
    right: 145px;
    color: white;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 21px;
  }
}

/* Left grid e-calculator */
.sec_left{

  float:left;
  margin-top: 100px;
  margin-left: -126px;

  p{
    width: 467px;
    height: 201px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 60px;
    margin-top: 25px;
  }

  .btn_calc{
    width: 133px;
    height: 34px;
    background-color: white;
    color: $color_green;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: medium;
    border: 2px solid $color_green;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Right grid grey picture */
.sec_right{

  float: left;
  margin-top: 100px;
  margin-right: 122px;
}

/* Right grid learn */
#sec_right_learn{

  float: left;
  margin-top: 100px;
  margin-right: -133px;

  p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 60px;
    width: 467px;
    height: 204px;
  }

  .btn_learn{
    width: 103px;
    height: 34px;
    background-color: white;
    color: $color_green;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: medium;
    border: 2px solid $color_green;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.map_intro{

  display: flex;
  flex-direction: column;
  flex:auto;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 23px;

  p{
    margin-top: 23px;
    width: 598px;
    justify-content: center;
    text-align-last: center;
  }


}

#googleMap{

  display: flex;
  flex-direction: column;
  flex:auto;
  align-items: center;
  margin-bottom: 177px;
  border-radius: 26px;
}
